/**************************** Global styles *******************************/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

.header,
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

:root {
    --text-color-li: #424247;
    --text-color-p1: #FFFFFF;
    --text-color-p2: #5A5A5D;
    --text-color-p3: #FF5400;
    --text-color-h3: #131318;

    --bg-color-1: #FF5400;
    --bg-color-2: #FFFBF7;
    --bg-color-3: #F4FCFE;
    --bg-color-4: #FEF5F5;

    --font-size-P: 16px;
    --font-weight-p: 400;
    --font-size-h3: 30px;
    --font-weight-h3: 900;
    --font-size-h1: 50px;
    --font-weight-h1: 1000;
}

.primary-text-color {
    color: var(--text-color-p2);
}

.primary-text-color-li {
    color: var(--text-color-li);
}

.tomato-primary-text-color {
    color: var(--text-color-p3);
}

.text-color-h3 {
    color: var(--text-color-h3);
}

.white-primary-text-color {
    color: var(--text-color-p1);
}

.tomato-primary-bg-color {
    background: var(--bg-color-1);
}

.font-size-P {
    font-size: var(--font-size-P);
}

.font-weight-P {
    font-weight: var(--font-weight-p);
}

.font-size-h3 {
    font-size: var(--font-size-h3);
}

.font-weight-h3 {
    font-weight: var(--font-weight-h3);
}

.font-size-h1 {
    font-size: var(--font-size-h1);
}

.font-weight-h1 {
    font-weight: var(--font-weight-h1);
}

.btn-primary {
    color: var(--text-color-p1);
    background: var(--bg-color-1);
    border: none;
    padding: 14px 25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;

}

.margin-bottom {
    margin-bottom: 100px;
}

/*********************************************** nav styles ********************/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: var(--text-color-li);
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
}

.mobile-btn {
    color: #131318;
    font-size: 25px;
    display: none;
    margin-left: 20px;
}

/*********************************************** header content styles **************/
.header-content {
    background-image: url("../Images/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    border: none;
    border-radius: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 106px 185px;
}

.header-text {
    text-align: center;
    padding: 0px 60px 50px 60px;
}

.header-text h1 {
    padding-bottom: 25px;
}

.form {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;

}

.form>input,
select {
    padding: 10px 30px;
    color: var(--text-color-p2);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}

.form button {
    margin-left: 20px;
}

/**************************************************** tours content styles ******/
.tours-container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

.tours-content>p {
    color: var(--text-color-p2);
    text-align: justify;
    margin: 20px 0;
}

.tours-content>li {
    padding: 10px 30px;
    text-align: justify;
    color: var(--text-color-p2);
    margin: 10px 0;
}

/****************************************************** Destination styles **********/
.destination-content {
    text-align: center;
    padding: 0px 250px 50px 250px;
}

.destination-content h3 {
    padding-bottom: 20px;
}

.row {
    display: flex;
    gap: 50px;
}

.row img {
    width: 100%;
}

.row h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.content-maldives,
.content-indonesia,
.content-srilanka,
.content-america,
.content-kashmir,
.content-bangladesh,
.content-bandarban {
    position: relative;
    bottom: 50%;
}

.display-none-esponsive {
    display: none;
}

/******************************************************* why choose us styles************/

.why-choose-us-header-content,
.discounts-container-header-content {
    text-align: center;
    padding: 0px 255px 20px 255px;
}

.why-choose-us-header-content h3 {
    padding-bottom: 20px;
}

.why-choose-us-row {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.card-1,
.card-2,
.card-3 {
    width: 600px;
    border-radius: 20px;
    border: none;
}

.card-1 {
    background: var(--bg-color-2);
}

.card-2 {
    background: var(--bg-color-3);
}

.card-3 {
    background: var(--bg-color-4);
}

.card-content {
    padding: 32px 55px 32px 32px;
}

.card-content h3 {
    padding: 30px 50px 15px 0px;
    color: var(--text-color-h3);
    font-size: 20px;
    font-weight: 900;

}

.card-content p {
    font-size: var(--font-size-P);
    color: var(--text-color-p2);
}

/******************************************************************** Deals & Discounts styles **********************/
.discounts-card-one,
.discounts-card-two,
.discounts-card-three {
    background-image: url("../Images/Group 39.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    max-width: 100%;
    height: 500px;
    margin-top: 30px;
}

.discounts-overlay {
    background-color: rgba(255, 11, 11, 0.5);
    height: 10%;
    padding: 0px;

}

.discounts-card-content-one,
.discounts-card-content-two,
.discounts-card-content-three {
    background: rgba(255, 255, 255, 0.8);
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    left: 530px;
    top: 60px;
    padding: 50px;

}

.discounts-card-content-two {
    left: 100px;
}

.discount-card-content-p {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.discounts-card-container>p,
i,
h4 {
    color: #FF5400;
    font-size: 20px;
    font-weight: var(--font-weight-p);
}

.discounts-card-container P {
    color: var(--text-color-p2);
}

.discounts-card-container h3 {
    font-size: 25px;
    font-weight: 800;
    color: var(--text-color-h3);
    padding: 20px 0px;
}

.discounts-card-container h4 {
    font-weight: 700;
    padding: 16px 0px 24px 0px;
}

.discounts-card-two {
    background-image: url("../Images/Group 40.png");
}

.see-all-packages-btn {
    margin-top: 50px;
    text-align: center;
}

/*****************************************************************simple-place***************/
.simple-place-container {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

.col-1 h3 {
    padding: 0px 50px 20px 0px;
    font-size: 40px;
}

.col-1 p {
    line-height: 2;
}

.col-1 ul {
    padding: 20px 10px 30px 30px;
}

.col-1 li {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-h3);
    padding: 10px;
}

.col-1 button {
    padding: 15px 42px;
}


.col-2 iframe {
    width: 600px;
    height: 338px;
    border: none;
    border-radius: 20px;
}

/************************************************************** newsletter container *******************/
.newsletter-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.newsletter-col-1 {
    border: 1px solid #FF5400;
    border-radius: 10px;
    padding: 50px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form>input {
    color: var(--text-color-p2);
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: #F3F3F3;
    margin-bottom: 20px;
}

.newsletter-col-1 p {
    padding: 10px 80px 20px 0px;
}

.newsletter-col-1 hr {
    color: var(--text-color-p2);
    margin: 0px 0px 20px 0px;
}

.newsletter-img img {
    width: 100%;
}

.newsletter-col-2 {
    background-image: url("../Images/Rectangle 8 (1).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 672px;
    height: 422px;
    border: none;
    border-radius: 20px;
}

.newsletter-save {
    background: #FF5400;
    border: none;
    border-radius: 10px;
    width: 324px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    rotate: -30deg;
    position: relative;
    top: 233px;
    left: 255px;
}

.newsletter-save>h4,
.newsletter-save>h3 {
    color: #FFFFFF;

}

/************************************************************** footer content *******/
.footer {
    background: #F3F3F3;
    margin-top: 100px;
}

.footer-content {
    padding: 110px 336px 110px 336px;
    text-align: center;
}

.nav-title {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-icon {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 50px;
}

.footer-content>p {
    padding: 50px;
}


/************************************************************** Responsive styles **************************/
@media screen and (max-width:576px) {
    .mobile-btn {
        display: block;
    }

    .display-none {
        display: none;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form>input,
    select {
        margin-bottom: 20px;
    }

    .header-text {
        padding: 20px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .content {
        padding: 50px;
    }

    /*************************** tours styles **************************/
    .tours-container {
        flex-direction: column;
        padding: 20px;
    }

    .tours-place-img img {
        width: 100%;
    }

    /********************************* destination styles  ****************/
    .destination-content {
        padding: 20px;
    }

    .row {
        flex-direction: column;
        gap: 0;
    }

    .row img {
        height: 300px;
    }

    .content-maldives,
    .content-indonesia,
    .content-srilanka,
    .content-america,
    .content-kashmir,
    .content-bangladesh,
    .content-bandarban {
        bottom: 175px;
    }

    /******************************************************** Why choose us ****************/
    .why-choose-us-container {
        padding: 20px;
    }

    .why-choose-us-row {
        flex-direction: column;
        align-items: center;
    }

    .why-choose-us-header-content,
    .discounts-container-header-content {
        text-align: center;
        padding: 20px;
    }

    .card-1,
    .card-2,
    .card-3 {
        width: 400px;
    }

    /******************************************************************** Deals & Discounts styles **********************/

    .discounts-card-one,
    .discounts-card-two,
    .discounts-card-three {
        width: 100%;
        height: 650px;
    }


    .discounts-card-content-one,
    .discounts-card-content-two,
    .discounts-card-content-three {
        max-width: 300px;
        height: 400px;
        left: 70px;
        right: 70px;
        top: 130px;
        padding: 30px;
    }

    /*****************************************************************simple-place***************/
    .simple-place-container {
        flex-direction: column;
    }

    .col-2 iframe {
        width: 500px;
        height: 282px;
    }

    /************************************************************** newsletter container *******************/
    .newsletter-container {
        flex-direction: column;
    }

    .newsletter-col-2 {
        width: 335px;
        height: 300px;
    }

    .newsletter-save {

        width: 214px;
        height: 80px;
        top: 150px;
        left: 100px;
    }

    .newsletter-save h3 {
        font-size: 20px;
        font-weight: 700;
    }

    .newsletter-save h4 {
        font-size: 18px;
        font-weight: 600;
    }

    /************************************************************** footer content *******/

    .footer-content {
        padding: 20px;
    }

    .nav-title {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .footer-icon {
        padding: 20px;
    }

    .footer-content>p {
        padding: 20px;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .mobile-btn {
        display: block;
    }

    .display-none {
        display: none;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form>input,
    select {
        margin-bottom: 20px;
    }

    .header-text {
        padding: 20px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .content {
        padding: 50px;
    }

    /*************************** tours styles **************************/
    .tours-container {
        flex-direction: column;
        padding: 20px;
    }

    .tours-place-img img {
        width: 100%;
    }

    /********************************* destination styles  ****************/
    .destination-content {
        padding: 20px;
    }

    .item h3 {
        font-size: 18px;
    }

    /******************************************************** Why choose us ****************/
    .why-choose-us-container {
        padding: 20px;
    }

    .why-choose-us-row {
        flex-direction: column;
        align-items: center;
    }

    .why-choose-us-header-content,
    .discounts-container-header-content {
        text-align: center;
        padding: 20px;
    }

    .card-1,
    .card-2,
    .card-3 {
        width: 400px;
    }

    /******************************************************************** Deals & Discounts styles **********************/

    .discounts-card-one,
    .discounts-card-two,
    .discounts-card-three {
        width: 100%;
        height: 650px;
    }


    .discounts-card-content-one,
    .discounts-card-content-two,
    .discounts-card-content-three {
        max-width: 300px;
        height: 400px;
        left: 70px;
        right: 70px;
        top: 130px;
        padding: 30px;
    }

    /*****************************************************************simple-place***************/
    .simple-place-container {
        flex-direction: column;
    }

    .col-2 iframe {
        width: 550px;
        height: 310px;
    }

    /************************************************************** newsletter container *******************/
    .newsletter-container {
        flex-direction: column;
    }

    .newsletter-col-2 {
        width: 335px;
        height: 300px;
    }

    .newsletter-save {

        width: 214px;
        height: 80px;
        top: 150px;
        left: 100px;
    }

    .newsletter-save h3 {
        font-size: 20px;
        font-weight: 700;
    }

    .newsletter-save h4 {
        font-size: 18px;
        font-weight: 600;
    }

    /************************************************************** footer content *******/

    .footer-content {
        padding: 20px;
    }

    .nav-title {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .footer-icon {
        padding: 20px;
    }

    .footer-content>p {
        padding: 20px;
    }
}